/* DMSans-Regular */
@font-face {
  font-family: "DMSans";
  src: url("../font/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* DMSans-ExtraBold */
@font-face {
  font-family: "DMSans";
  src: url("../font/DMSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* DMSans-SemiBold */
@font-face {
  font-family: "DMSans";
  src: url("../font/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  font-family: "DMSans", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: #ffffff;
}

:root{
  --background: #000000;
  --primaryBg: #1F1F2B;
  --blue: #035CEA;
  --primaryGradient: linear-gradient(281.47deg, #035CEA 0%, #00175C 65.87%);
}

h1, ._h1,
h2, ._h2{
  font-weight: 600;
  font-size: 32px;
  line-height: 132%;
  color: #FFFFFF;
  margin-bottom: 28px;
}

._title{
  width: 100%;
  padding-bottom: 12px;
}
._text-center {
    text-align: center !important;
}

._p-t{
  padding-top: 69px;
}
._p-b{
  padding-bottom: 69px;
}
._p-y{
  padding-top: 69px;
  padding-bottom: 69px;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  background-color: var(--background);
}
body::-webkit-scrollbar {
    width: 28px
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 40px;
    border: 0.5em solid rgba(0,0,0,0);
    background-clip: padding-box;
    -webkit-border-radius: 1em;
}

@media screen and (max-width: 576px) {
    body::-webkit-scrollbar {
        width: initial
    }
    body::-webkit-scrollbar-thumb {
        border: none;
        background-clip: initial;
        height: initial
    }
}

@media (max-width: 767px) {
  ._title{
    padding-bottom: 0;
  }
  h1, ._h1,
  h2, ._h2{
    margin-bottom: 24px;
    font-size: 24px;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

#wrapper{
  overflow: hidden;
}

.header{
   background-color: var(--background);
   padding-top: 40px;
   padding-bottom: 40px;
}
.header-logo{
  max-width: 173px;
  width: 100%;
}

.banner{
  padding-bottom: 69px;
}
.banner-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
}
.banner-logo__link{
  display: inline-block;
  position: absolute;
  height: fit-content;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 344px;
  width: 100%;
  will-change: transform;
  transition: transform 0.3s ease-in-out; 
}
.banner-logo{
  height: auto;
  width: auto;
  width: 100%;
}
.banner-logo__link:hover{
 animation: pulse 0.5s ease-in-out; 
}
.banner-logo__link img{
  animation-delay: 0.2s;
}
.banner-title{
  margin-bottom: 0;
  max-width: 450px;
}
.banner-item{
  display: flex;
  align-items: flex-end;
  min-height: 240px;
  flex-wrap: wrap;
  padding: 28px 33px;
  width: calc(100% - 409px);
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  z-index: 1;
}
.banner-gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
  object-position: 0% 10%;
  z-index: -1;
}
.banner-txt{
  font-weight: 800;
  font-size: 72px;
  line-height: 131%;
  color: #FFFFFF;
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}
.banner-txt .banner-txt__year{
  color: #3A3A48;
}
.banner-oval{
  position: absolute;
  right: -3.5%;
  top: -39%;
  z-index: -1;
  animation: rotating 90s linear infinite;
} 
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .banner-oval{
    max-width: 1189px;
    min-width: 1189px;
  }
}

@media (max-width: 1299px) {
  .banner-oval {
    right: -24.5%;
    top: -41%;
  }
 .banner-item{
    width: calc(100% - 250px);
  }
  .banner-logo__link{
      max-width: 215px;
  }
  .banner-txt{
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .banner-oval {
    max-width: 924px;
    min-width: 924px;
    right: -29.5%;  
    top: -24%;
  }
}
@media (max-width: 767px) {
  .banner-logo__link{
    position: relative;
    z-index: 2;
  }
  .banner-oval {
    max-width: 146vw;
    min-width: 146vw;
    right: -5.5%;
    top: -10%;
  }
  .banner-wrap{
    overflow: hidden;
    border-radius: 34px;
    padding-top: 50px;
  }
  .banner-gradient{
    border-radius: 0px;
  }
  .banner-logo__link{
    margin-bottom: 26px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 275px;
  }
  .banner-title{
    max-width: 320px;
  }
  .banner-item{
    width: 100%;
    position: static;
    overflow: visible;
    min-height: auto;
    border-radius: 0px;
    padding: 24px 15px 24px 30px;
  }
  .banner-txt{
    font-size: 34px;
  }
}


.anim-text__wrap {
    overflow: hidden;
    position: relative;
}

.anim-text {
    position: relative;
    overflow: hidden;
    transition: all 1000ms;
    transform: translateY(150%) rotate(5deg);
}

.watched .anim-text {
    transform: none;
}
@keyframes bounceScale {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

[data-inviewport=obs__full-width] {
  position: relative;
}
[data-inviewport=obs__full-width]:before {
  content: "";
  position: absolute;
  background: var(--background);
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: all 1000ms;
  display: flex;
}
.watched[data-inviewport=obs__full-width]:before {
  width: 0%;
}

[data-inviewport=obs__bounce] {
    transform: scale(0);
    transition: transform 1000ms ease;
    will-change: transform;
    backface-visibility: hidden;
}
[data-inviewport=obs__bounce].watched {
    animation-name: bounceScale;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
[data-inviewport=obs__moveTop] {
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 1000ms ease, opacity 1000ms ease;
}
[data-inviewport=obs__moveTop].watched {
    transform: none;
    opacity: 1;
}
[data-inviewport=obs__moveBottom] {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 1000ms ease, opacity 1000ms ease;
}
[data-inviewport=obs__moveBottom].watched {
    transform: none;
    opacity: 1;
}
[data-inviewport=obs__opacity] {
    opacity: 0;
    transition: opacity 1000ms ease;
}
[data-inviewport=obs__opacity].watched {
    opacity: 1;
}


.access-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.access-item{
  background:var(--primaryBg);
  border-radius: 34px;
  padding: 24px 32px;
  flex: 1 1 calc(33.333% - 24px);
  max-width: calc(33.333% - 24px);
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
}
.access-item::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--primaryGradient);
  z-index: -1;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
  pointer-events: none;

}
.access-item:hover::after{
  opacity: 1;
}
.access-item__icon{
  display: flex;
  max-width: 56px;
  max-height: 56px;
  margin-bottom: 24px;
}
.access-item__txt{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  display: inline-block;
}
.accessBooth-wrap{
  display: flex;
  gap: 24px;
  align-items: center;
  padding-top: 128px;
}
.accessBooth-stand{
  position: relative;
  z-index: 1;
  border-radius: 34px;
  overflow: hidden;
  font-weight: 800;
  font-size: 32px;
  line-height: 132%;
  text-align: center;
  padding: 16px 50px;
  min-width: 384px;
  background-image: var(--primaryGradient);
  text-transform: uppercase;
}
.accessBooth-stand__txt{
  display: inline-block;
}
.accessBooth-stand__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  object-fit: cover;
  object-fit: bottom left;
}
.accessBooth-title{
  margin-bottom: 0;
  max-width: 596px;
}
@media (max-width: 991px) {
    .access-item{
      padding: 24px;
    }
    .accessBooth-stand{
      min-width: 373px;
    }
}
@media (max-width: 767px) {
  .access-item{
    flex: 1 1 calc(100%);
    max-width: 100%;
  }
  .accessBooth-wrap{
    flex-wrap: wrap;
  }
  .accessBooth-stand{
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .access {
    padding-bottom: 20px;
  }
  .accessBooth-stand{
    min-width: 100%;
  }
  .accessBooth-wrap{
    padding-top: 90px;
  }
}

.booking{
  padding-bottom: 128px;
  position: relative;
}
.booking-title{
  max-width: 600px;
  display: inline-block;
}
.booking-address{
  display: inline-block;
  padding-top: 128px;
  position: relative;
}
.booking-address__link{
  flex-shrink: 0;
}
.booking-address__link:hover{
  animation: pulse 0.5s ease-in-out; 
}
.booking-address__txt{
  max-width: 550px;
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.booking-address span{
  display: inline-block;
}
.booking-container{
  position: relative;
}
.booking-stars{
  position: absolute;
  bottom: -85px;
  right: -70px;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 991px) {
    .booking-address {
      max-width: 395px;
  }
}
@media (max-width: 767px) {
    .booking-address {
        max-width: 327px;
    }
}

._form-group {
	 width: 100%;
}
fieldset{
  border: none;
  padding: 0;
  margin: 0;
}
fieldset ._error-text{
  margin-top: -55px;
}
._form-group__wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  gap: 0px 24px;
}
._form-group__wrap._wrap-3 ._form-group__col{
  flex: 1 1 calc(33.333% - 24px);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 64px;
}
._form-group__wrap._wrap-2 ._form-group__col{
  flex: 1 1 calc(50% - 24px);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 64px;
}
._form-group__radio{
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
._form-group__radio._global{
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
}
._form-group__radio._icon::after{
  content: "";
  position: absolute;
  left: 32px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33785 8.23025C8.06456 8.24068 7.78271 8.25151 7.51027 8.22569C5.8137 8.06468 4.43571 6.76884 3.98893 5.15921C3.31459 2.72976 5.10709 0.208899 7.64531 0.0081315C10.0913 -0.134842 12.1282 1.6223 12.1416 4.11749C12.1538 6.37206 10.5063 7.9927 8.33785 8.23025ZM8.31212 15.9816L1.20817 15.9812C0.847552 15.9809 0.0373637 16.1327 0.00712642 15.5786C-0.0766389 14.0432 0.585284 12.682 1.6108 11.5773C3.14104 9.92896 5.45214 9.02719 7.67479 8.94557L7.68886 8.9457C10.027 8.86566 12.4311 9.68699 14.1254 11.3219C15.3657 12.5187 15.9893 13.8066 16 15.5069C16.0039 16.1221 15.2679 15.9815 14.8633 15.9817L8.31212 15.9816Z" fill="white"/></svg>');
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
}
._form-group__radio._global span{
  padding: 9px 30px;
}
._form-group__radio img{
  position: absolute;
  bottom: 32px;
  right: 0;
  left: 0;
  margin: auto;
  pointer-events: none;
  max-width: 203px;
  opacity: 0;
  transition: 0.4s;
  transform-origin: bottom center;
}
._form-group__radio span{
  display: inline-block;
  width: 100%;
  padding: 4px 62px;
  border: solid 1px var(--primaryBg);
  background-color: var(--primaryBg);
  border-radius: 34px;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
._form-group__radio input{
  display: none;
}
._form-group__radio:hover span,
._form-group__radio input:checked + span{
  background-color: var(--blue);
}
._form-group__radio:hover img{
 opacity: 1;
}
._form-group__radio input:checked ~ img{
 opacity:0!important;
}
._form-group__input{
  margin-bottom: 16px;
}
._form-group__input input{
  font-weight: 400;
  font-size: 18px;
  height: 42px;
  border: solid 1px #fff;
  border-radius: 34px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  outline: none;
  color: #fff;
  font-family: 'DMSans', sans-serif;
  background-color: #000000;
}
._form-group__input input::placeholder{
  color: #fff;
}
._form-group__input input:hover,
._form-group__input input:focus{
  border-width: 2px;
}
._form-group__input input:hover,
._form-group__input input:focus{
  font-weight: 800;
}
._form-group__select{
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  background-color: var(--blue);
  border-radius: 34px;
}
._form-group__select-title{
  position: relative;
  width: 100%;
  user-select: none;
  padding: 10px 32px;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}
._form-group__select-title:before{
  content: "";
  position: absolute;
  top: 14px;
  right: 24px;
  width: 12px;
  height: 12px;
  border: solid 2px #fff;
  display: inline-block;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  transition: 0.3s;
  pointer-events: none;
}
._form-group__select-option-wrap{
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 11;
  background-color: var(--blue);
  width: 100%;
  border-radius: 0 0 34px 34px;
  padding: 0 32px 14px 32px;
}
._form-group__select.open{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
._form-group__select.open ._form-group__select-option-wrap{
  display: flex;
}
._form-group__select.open ._form-group__select-title:before{
  transform: rotate(225deg);
}
._form-group__select-option{
  display: inline-block;
  width: fit-content;
  min-width: 175px;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  border: solid 1px transparent;
  padding: 2px 64px 2px 32px;
  position: relative;
  border-radius: 16px;
  transition: 0.3s;
}
._form-group__select-option:hover,
._form-group__select-option.active{
  border-color: #fff;
}
._form-group__select-option.active:before{
  content: "";
  position: absolute;
  display: inline-block;
  top: -3px;
  right: 33px;
  bottom: 0;
  margin: auto;
  width: 7px;
  height: 15px;
  border: solid 1px #fff;
  border-top: none;
  transform: rotate(45deg);
  border-left: none;
}
._form-group__select-tags{
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
._form-group__select-tags span{
  background-color: var(--blue);
  border-radius: 16px;
  padding: 5px 64px 5px 32px;
  position: relative;
}
._form-group__select-tags .tag-remove{
  content: "";
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 31px;
  bottom: 0;
  margin: auto;
  background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.667969" width="0.942815" height="16.0279" transform="rotate(-45 0 0.667969)" fill="white"/><rect x="11.332" width="0.942815" height="16.0279" transform="rotate(45 11.332 0)" fill="white"/></svg>');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center center;
}
._form-group__select-tags .tag-remove:hover{
  opacity: 0.5;
}
._form-group__holder{
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 18px;
}

.select-input{
  font-family: 'DMSans', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #FFFFFF;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.select-input::placeholder{
  color: #fff;
}
.select-container {
  display: inline-block;
  width: 100%;
  position: relative;
}
.select-container .select {
  position: relative;
  width: 100%;
  user-select: none;
  padding: 7px 41px 7px 32px;
  background-color: var(--blue);
  border: solid 2px var(--blue);
  border-radius: 34px;
  cursor: pointer;
}
.select-container.active .select{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}
.select-container.active{
    z-index: 3;
}
.select-container .select::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 24px;
  width: 12px;
  height: 12px;
  border: solid 2px #fff;
  display: inline-block;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  transition: 0.3s;
  pointer-events: none;
}
.select-container.active .select::after {
    transform: translateY(5px) rotate(225deg);
}
.select-container .option-container {
  display: none;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 11;
  background-color: var(--blue);
  width: 100%;
  border-radius: 0 0 34px 34px;
  padding: 0 27px 14px 32px;
}
.select-container .option-container__wrap{
  width: 100%;
  display: flex;
  overflow: auto;
  gap: 5px;
  max-height: 277px;
  padding-top: 5px;
  flex-direction: column;
}
.select-container .option-container__wrap.option-cols{
  flex-direction: row;
}
.select-container .option-col{
  display: flex;
  flex-direction: column;
}
.select-container .option-col .option{
  text-align: center;
}
.select-container .option-container__wrap::-webkit-scrollbar {
  width: 5px
}
.select-container .option-container__wrap::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}
.select-container.active .option-container {
    display: block;
}
.select-container .option {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  min-width: 110px;
  font-size: 18px;
  line-height: 23px;
  border: solid 1px transparent;
  padding: 2px 32px 2px 32px;
  position: relative;
  border-radius: 16px;
  transition: 0.3s;
}
.select-container .option:hover{
  border-color: #fff;
}
.select-container .option.selected {
    pointer-events: none;
    border-color: #fff;
}
.select-container .option label {
    font-size: 18px;
    cursor: pointer;
}

._form-group._form-group__input.req_error input,
._form-group._form-group__input.error_error input {
    border-color: #FF0000;
    color: #FF0000;
}
._form-group._form-group__input.req_error input::placeholder,
._form-group._form-group__input.error_error input::placeholder{
  color: #FF0000;
}
._form-group.req_error .select,
._form-group.error_error .select {
    border-color: #FF0000;
}
._form-group.req_error .req__text,
._form-group.error_error .error__text {
    display: block;
}
._form-group.error_error .error__text {
    display: block;
}
._form-group .req__text, ._form-group .error__text {
	 display: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FF0000;
  margin-top: 6px;
}
._error-text{
  width: 100%;
  display: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FF0000;
}
._error ._error-text{
  display: block;
}
._error ._form-group__radio span{
  border-color: #FF0000;
}
._form-submit{
  border: none;
  border-radius: 34px;
  padding: 9px 50px;
  font-family: 'DMSans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  min-width: 384px;
  transition: 0.3s;
  background-image: var(--primaryGradient);
}
._form-submit:hover{
 animation: pulse 0.5s ease-in-out; 
}


@media (max-width: 991px) {
  ._form-group__wrap._wrap-3 ._form-group__col{
      flex: 1 1 calc(50% - 24px);
      max-width: calc(50% - 24px);
  }
  ._form-group__radio img{
    display: none!important;
  }
  ._form-group__radio span{
    transition: 0s;
  }
}
@media (max-width: 767px) {
  ._form-group__wrap._wrap-3 ._form-group__col{
      flex: 1 1 100%;
      width: 100%;
      max-width: 100%;
  }
  ._form-group__wrap._wrap-2{
    gap: 16px;
  }
  .select-container .option-container__wrap.option-cols{
    flex-direction: column;
    gap: 5px;
  }
  .select-container .option{
    padding: 2px 15px;
    min-width: auto!important;
    text-align: left!important;
  }
  .select-container .option-container{
    padding-left: 7px;
    padding-right: 7px;
  }
  .select-container .option{
    font-size: 14px;
    padding: 2px 8px;
  }

  ._form-submit{
    min-width: 100%;
  }
  .booking-address__txt{
    font-size: 20px;
  }
}

.footer{
  background-color: #111119;
  padding-top: 64px;
  padding-bottom: 88px;
}
.footer-title__wrap{
  margin-bottom: 40px;
}
.footer-title{
  margin-bottom: 0;
}
.footer-subtitle{
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.7px;
}

._insta-bg{
    background: linear-gradient(25deg, #ffd521, #ffd020 7%, #fec01e 14%, #fca71b 21%, #fa8316 28%, #f85510 35%, #f51e09 42%, #f30005 49%, #f20007 56%, #e1003b 63%, #d30067 70%, #c70088 77%, #bf00a0 84%, #bb00af 91%, #b900b4);
}
._fc-bg{
  background-color: #1877F2;
}
._tg-bg{
  background-color: #35AFEB;
}
._in-bg{
  background-color: #0A66C2;
}
._tw-bg{
  background-color: #000000;
}

.social-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1035px;
  margin: auto;
  gap: 16px;
}
.social-item{
  flex: 1 1 calc(20% - 16px);
  max-width: calc(20% - 16px);
  transition: 0.3s ease;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-decoration: none;
}
.social-item:hover{
  animation: pulse 0.5s ease-in-out; 
}
.social-item span{
  width: 100%;
}
.social-item__icon{
  max-width: 60px;
  max-height: 60px;
}
@media (max-width: 991px) {
  .social-wrap{
    gap: 8px;
  }
  .social-item{
    font-size: 17px;
    line-height: 17px;
    flex: 1 1 calc(20% - 8px);
    max-width: calc(20% - 8px);
  }
  .social-item__icon {
      max-width: 46px;
      max-height: 46px;
  }
}
@media (max-width: 767px) {
  .footer{
    padding-bottom: 64px;
  }
  .footer-title__wrap{
    margin-bottom: 24px;
  }
  .footer-subtitle{
    font-size: 14px;
    line-height: 19px;
  }
  .social-wrap{
    gap: 7px 6px;
  }
  .social-item{
    font-size: 13px;
    line-height: 13px;
    padding: 12px;
    flex: 1 1 calc(33.333% - 6px);
    max-width: calc(33.333% - 6px);
  }
  .social-item__icon {
      max-width: 34px;
      max-height: 34px;
  }
}